.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
   color: red;
}
img{
     width: 200; /* Ширина области */
    height: 350px; /* Высота области */
}
