@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Merienda+One&family=Source+Sans+Pro&display=swap');
:root{
    font-family: 'Lato', sans-serif;
    --main-color: rgb(108,100,110);
}
body{
    max-width: 980;
    margin: auto;
}
.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
   color: red;
}
header nav .first_row{
    display:flex;
  
    justify-content: space-between;
   
}

header nav .menu-items a{
    display: block;
    color: var(--main-color);
    border:1px solid transparent;
    padding: 3px;
    text-transform: uppercase;
}
@media(min-width:760px){
    header nav{
        display: flex;
    }
    header nav .menu-items {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex: 1;
    }
}
.menu-items a:hover{
    border-color: 1px solid var(--main-color);
}

header .banner{
    background: url("../img/details/konditer.jpg");
    min-height: 500px;
    background-size:cover;
    background-position: center;
}
h1{
    display: flex;
    font-size: 4.5rem;
}


#logup{
    max-width: 50px;
}
.logo{
width: 50px;
}
h1, h2, h3, h4{
    font-family: 'Merienda One', cursive;
    
    color: #454043;
}
p, a{
    color: rgb(108,100,110);
    font-size: 20px;
}
button{
   font-family: 'Source Sans Pro', sans-serif;
}